*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
    line-height: 1.5;
    background: #a606e6;
    font-family: lato, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
/*utility*/
#note .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
   margin-top: 10%;
   
}
#note .container > *:first-child img{
    margin-left: 5%;
    width: 90%;
}
#note .container > *:last-child{
    color: #fff;
}
.logo{
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 10%;
}
#note .container > *:last-child h5 a{
    border: #fff 1px solid;
       border-radius: 15px;
       padding: 10px;
       color:black;
       background:#fff;
       font-size: 20px;
}


/*Responsive*/


@media(max-width:768px){
    .logo{
        padding: 5px;
        size: 10px;
        margin-left: 10%;

    }
    #note .container{
        grid-template-columns: 1fr;

    }
    #note .container > *:first-child{
        width: 70%;
    }
    #note .container > *:last-child h5 a{
       border: #fff 1px solid;
       border-radius: 15px;
       padding: 5px;
       color:black;
       background:#fff;
       font-size: 20px;
    }
    #note .container > *:last-child {
        padding: 15px;
        font-size: 20px;
    }
    #note .container > *:last-child h3{
        font-size: 20px;
    }
    #note .container > *:last-child h1{
        font-size: 40px;
    }

}
@media(max-width:500px){
    .logo{
        padding: 5px;
        justify-content: center;

    }

    #note .container {
        display: grid;
        grid-template-columns: 1fr;

    }
    #note .container > *:first-child{
        width: 60%;
    }
    #note .container > *:last-child h1{
      font-size: 30px;

    }
    #note .container > *:last-child h5 a{
        font-size: 20px;
    }
}